<h1>
    <%=title%>
</h1>


<form id="pacoteForm">
    <input required type="hidden" name="id" id="id">
    <label for="nomePacote">Nome do Pacote</label>
    <input required name="nomePacote" id="nomePacote" type="text"><br>
    <label for="passagem">Passagem</label>
    <input required name="passagem" id="passagem" type="text"><br>
    <label for="localSaida">Local de Saida</label>
    <input required name="localSaida" id="localSaida" type="text"><br>
    <label for="localDestino">Local de Destino</label>
    <input required name="localDestino" id="localDestino" type="text">
    <button type="submit">Enviar</button>
    <button type="reset">Cancelar</button>
</form>
<span id="error"></span>

<%if(error){%>
    <span>
        <%=JSON.stringify(error)%>
    </span>
    <%}%>

        <table>
            <thead>
                <tr>
                    <%for(let col of cols){%>
                        <th>
                            <%=col%>
                        </th>
                        <%}%>
                </tr>
            </thead>
            <tbody>
                <%for(let pacote of pacotes){%>
                    <tr>
                        <%for(let prop in pacote){%>
                            <td>
                                <%=pacote[prop]%>
                            </td>
                            <%}%>
                                <td>
                                    <button onclick="editpacote('<%=pacote.id%>')">Editar</button>
                                    <button onclick="deletepacote('<%=pacote.id%>')">Deletar</button>
                                </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>

        <script>
            const form = document.getElementById('pacoteForm')
            form.addEventListener("submit", (e) => {
                e.preventDefault()
                const pacote = mountDataForm()
                let id = pacote.id
                let METHOD = id ? 'PUT' : 'POST';
                let URL = id ? `/pacotes/${id}` : '/pacotes';
                createOrUpdate(pacote, URL, METHOD)
            })

            // CRIAR OU ATULIZAR pacote
            function createOrUpdate(pacote, URL, METHOD) {
                console.log(pacote)
                fetch(URL, {
                    method: METHOD,
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(pacote)
                })
                    .then(async (res) => { return await checkError(res) })
                    .then((pacote) => {
                        form.reset()
                        window.location.reload()
                    })
                    .catch((error) => { document.getElementById('error').innerText = error })
            }

            // BUSCAR pacote A SER EDITADO PELO ID E CARREGAR NOS INPUTS DO FORM
            function editpacote(id) {
            console.log(id)
                fetch("/pacotes/" + id, {
                    method: "GET"
                })
                    .then(async (res) => { return await checkError(res) })
                    .then((pacote) => {
                        console.log('retornou o pacote', pacote)
                        for (let prop in pacote) {
                            const input = document.querySelector(`input[name="${prop}"]`);
                            input.value = pacote[prop]
                        }
                    })
                    .catch((error) => { document.getElementById('error').innerText = error })
            }

            // DELETAR UM pacote PELO ID
            function deletepacote(id) {
                fetch("/pacotes/" + id, {
                    method: "DELETE"
                })
                    .then(async (res) => { return await checkError(res) })
                    .then((pacote) => {
                        window.location.reload()
                    })
                    .catch((error) => { document.getElementById('error').innerText = JSON.stringify(error) })
            }

            // CHECAR ERROS NA RESPOSTA DA REQUISIÇÃO
            async function checkError(res) {
                if (!res.ok) {
                    const err = await res.json()
                    throw err
                }
                return res.json()
            }

            // MONTAR DADOS DO FORMULÁRIO USANDO FORMDATA
            function mountDataForm() {
                const formData = new FormData(form)
                const pacote = {}
                formData.forEach((v, k) => {
                    pacote[k] = v
                })
                return pacote
            }

        </script>