<h1>
    <%=title%>
</h1>


<form id="userForm">
    <input required type="hidden" name="id" id="id">
    <label for="nomePacote">Nome do Pacote</label>
    <input required name="nomePacote" id="nomePacote" type="text"><br>
    <label for="passagem">Passagem</label>
    <input required name="passagem" id="passagem" type="text"><br>
    <label for="localSaida">Local de Saida</label>
    <input required name="localSaida" id="localSaida" type="text"><br>
    <label for="localDestino">Local de Destino</label>
    <input required name="localDestino" id="localDestino" type="text">
    <label for="refeicao">Refeicao</label>
    <input required name="refeicao" id="refeicao" type="text">
    <button type="submit">Enviar</button>
    <button type="reset">Cancelar</button>
</form>
<span id="error"></span>

<%if(error){%>
    <span>
        <%=error%>
    </span>
    <%}%>

        <table>
            <thead>
                <tr>
                    <%for(let col of cols){%>
                        <th>
                            <%=col%>
                        </th>
                        <%}%>
                </tr>
            </thead>
            <tbody>
                <%for(let pacota of pacotas){%>
                    <tr>
                        <%for(let prop in pacota){%>
                            <td>
                                <%=pacota[prop]%>
                            </td>
                            <%}%>
                                <td>
                                    <button onclick="editpacota('<%=pacota.id%>')">Editar</button>
                                    <button onclick="deletepacota('<%=pacota.id%>')">Deletar</button>
                                </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>

        <script>
            const form = document.getElementById('userForm')
            form.addEventListener("submit", (e) => {
                e.preventDefault()
                const pacota = mountDataForm()
                let id = pacota.id
                let METHOD = id ? 'PUT' : 'POST';
                let URL = id ? `/pacotas/${id}` : '/pacotas';
                createOrUpdate(pacota, URL, METHOD)
            })

            // CRIAR OU ATULIZAR USUÁRIO
            function createOrUpdate(pacota, URL, METHOD) {
                console.log(pacota)
                fetch(URL, {
                    method: METHOD,
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(pacota)
                })
                    .then(async (res) => { return await checkError(res) })
                    .then((pacota) => {
                        form.reset()
                        window.location.reload()
                    })
                    .catch((error) => { document.getElementById('error').innerText = error })
            }

            // BUSCAR USUÁRIO A SER EDITADO PELO ID E CARREGAR NOS INPUTS DO FORM
            function editpacota(id) {
            console.log(id)
                fetch("/pacotas/" + id, {
                    method: "GET"
                })
                    .then(async (res) => { return await checkError(res) })
                    .then((pacota) => {
                        console.log('retornou a pacota', pacota)
                        for (let prop in pacota) {
                            const input = document.querySelector(`input[name="${prop}"]`);
                            input.value = pacota[prop]
                        }
                    })
                    .catch((error) => { document.getElementById('error').innerText = error })
            }

            // DELETAR UM USUÁRIO PELO ID
            function deletepacota(id) {
                fetch("/pacotas/" + id, {
                    method: "DELETE"
                })
                    .then(async (res) => { return await checkError(res) })
                    .then((pacota) => {
                        window.location.reload()
                    })
                    .catch((error) => { document.getElementById('error').innerText = error })
            }

            // CHECAR ERROS NA RESPOSTA DA REQUISIÇÃO
            async function checkError(res) {
                if (!res.ok) {
                    const err = await res.json()
                    throw err
                }
                return res.json()
            }

            // MONTAR DADOS DO FORMULÁRIO USANDO FORMDATA
            function mountDataForm() {
                const formData = new FormData(form)
                const pacota = {}
                formData.forEach((v, k) => {
                    pacota[k] = v
                })
                return pacota
            }

        </script>