<h1>
    <%=title%>
</h1>


<form id="userForm">
    <input required type="hidden" name="id" id="id">
    <label for="username">Nome</label>
    <input required name="username" id="username" type="text"><br>
    <label for="pais">País</label>
    <input required name="pais" id="pais" type="text"><br>
    <label for="descricao">Descrição</label>
    <input required name="descricao" id="descricao" type="text"><br>
   
    <button type="submit">Enviar</button>
    <button type="reset">Cancelar</button>
</form>
<span id="error"></span>

<%if(error){%>
    <span>
        <%=error%>
    </span>
    <%}%>

        <table>
            <thead>
                <tr>
                    <%for(let col of cols){%>
                        <th>
                            <%=col%>
                        </th>
                        <%}%>
                </tr>
            </thead>
            <tbody>
                <%for(let ponto of pontos){%>
                    <tr>
                        <%for(let prop in ponto){%>
                            <td>
                                <%=ponto[prop]%>
                            </td>
                            <%}%>
                                <td>
                                    <button onclick="editponto('<%=ponto.id%>')">Editar</button>
                                    <button onclick="deleteponto('<%=ponto.id%>')">Deletar</button>
                                </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>

        <script>
            const form = document.getElementById('userForm')
            form.addEventListener("submit", (e) => {
                e.preventDefault()
                const ponto = mountDataForm()
                let id = ponto.id
                let METHOD = id ? 'PUT' : 'POST';
                let URL = id ? `/pontos/${id}` : '/pontos';
                createOrUpdate(ponto, URL, METHOD)
            })

            // CRIAR OU ATULIZAR USUÁRIO
            function createOrUpdate(ponto, URL, METHOD) {
                console.log(ponto)
                fetch(URL, {
                    method: METHOD,
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(ponto)
                })
                    .then(async (res) => { return await checkError(res) })
                    .then((ponto) => {
                        form.reset()
                        window.location.reload()
                    })
                    .catch((error) => { document.getElementById('error').innerText = error })
            }

            // BUSCAR USUÁRIO A SER EDITADO PELO ID E CARREGAR NOS INPUTS DO FORM
            function editponto(id) {
            console.log(id)
                fetch("/pontos/" + id, {
                    method: "GET"
                })
                    .then(async (res) => { return await checkError(res) })
                    .then((ponto) => {
                        console.log('retornou a ponto', ponto)
                        for (let prop in ponto) {
                            const input = document.querySelector(`input[name="${prop}"]`);
                            input.value = ponto[prop]
                        }
                    })
                    .catch((error) => { document.getElementById('error').innerText = error })
            }

            // DELETAR UM USUÁRIO PELO ID
            function deleteponto(id) {
                fetch("/pontos/" + id, {
                    method: "DELETE"
                })
                    .then(async (res) => { return await checkError(res) })
                    .then((ponto) => {
                        window.location.reload()
                    })
                    .catch((error) => { document.getElementById('error').innerText = error })
            }

            // CHECAR ERROS NA RESPOSTA DA REQUISIÇÃO
            async function checkError(res) {
                if (!res.ok) {
                    const err = await res.json()
                    throw err
                }
                return res.json()
            }

            // MONTAR DADOS DO FORMULÁRIO USANDO FORMDATA
            function mountDataForm() {
                const formData = new FormData(form)
                const ponto = {}
                formData.forEach((v, k) => {
                    ponto[k] = v
                })
                return ponto
            }

        </script>